<div *ngIf="loading == false">
<div class="cont-step animated bounceInRight" *ngIf="step == 'basic-parameters'">
<h1>Parametros Básicos</h1>

  <div class="row">

    <div class="col-md-6 mb-6">

        <form [formGroup]="form" (ngSubmit)="save()" class="needs-validation" novalidate>

            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationServer01">Nombre de la encuesta</label>
                <input [(colorPicker)]="colorTitle" class="rad-color" [style.background]="colorTitle" name="colorTitle" formControlName="colorTitle" (colorPickerChange)="changeColor('colorTitle',$event)" [style.background]="quiz.colors.name" [style.color]="quiz.colors.name"  />
                <input type="text" class="form-control form-control-lg " id="validationServer01" formControlName="nameQuiz" required (keyup)="updateQuiz()" >
              </div>
              <div class="col-md-12 mb-3">
                <label for="validatedCustomFile">Logo</label>
                <div class="custom-file">   
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="logo"  formControlName="logo"  (change)="uploadImage($event)" required>
                    <label class="custom-file-label form-control-lg " for="validatedCustomFile" *ngIf="!quiz.logo">Seleccionar archivo...</label>
                    <label class="custom-file-label form-control-lg inp-file" for="validatedCustomFile" *ngIf="quiz.logo">{{ quiz.logo }}</label>
                </div>
              </div>
              <div class="col-md-12 mb-12"> 
                <label for="validationTextarea">Descripción</label>
                <ckeditor id="validationTextarea" [editor]="Editor" required (keyup)="updateQuiz($event)"  formControlName="description"  #dbt></ckeditor>
              </div>
              <div class="col-md-12 mb-12"> 
                <label for="initial_textTextarea">Texto Inicial</label>
                <ckeditor id="initial_textTextarea" [editor]="Editor" required (keyup)="updateQuiz()" (change)="updateQuiz()" formControlName="initial_text" ></ckeditor>
              </div>
              <div class="col-md-12 mb-12"> 
                <label for="final_textTextarea">Texto Final</label>
                <ckeditor id="final_textTextarea" [editor]="Editor" required (keyup)="updateQuiz()" (change)="updateQuiz()" formControlName="final_text" ></ckeditor>
              </div>

              <div class="col-md-12 mb-12">
                <h3>Colores de la encuesta</h3>
              </div>
              <div class="col-md-4 mb-3"> 
                <label for="validatedCustomFile">Cabecera</label>
                <input [(colorPicker)]="colorHeader" class="rad-color" [style.background]="colorHeader" formControlName="colorHeader" id="color-header"  (colorPickerChange)="changeColor('colorHeader',$event)" [style.background]="quiz.colors.header" [style.color]="quiz.colors.header"/>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validatedCustomFile">Fondo</label>
                <input [(colorPicker)]="colorBackground" class="rad-color" [style.background]="colorBackground" formControlName="colorBackground" id="color-background" (colorPickerChange)="changeColor('colorBackground',$event)" [style.background]="quiz.colors.background" [style.color]="quiz.colors.background"/>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validatedCustomFile">Tarjeta Pregunta</label>
                <input [(colorPicker)]="colorQuestion" class="rad-color" [style.background]="colorQuestion" formControlName="colorQuestion" id="color-question" (colorPickerChange)="changeColor('colorQuestion',$event)" [style.background]="quiz.colors.question" [style.color]="quiz.colors.question"/>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validatedCustomFile">Texto Pregunta</label>
                <input [(colorPicker)]="TxtQuestion" class="rad-color" [style.background]="TxtQuestion" formControlName="TxtQuestion" id="color-question" (colorPickerChange)="changeColor('TxtQuestion',$event)" [style.background]="quiz.colors.txtquestion" [style.color]="quiz.colors.txtquestion"/>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validatedCustomFile">Opciones</label>
                <input [(colorPicker)]="colorOption" class="rad-color" [style.background]="colorOption" formControlName="colorOption" id="color-question" (colorPickerChange)="changeColor('colorOption',$event)" [style.background]="quiz.colors.option" [style.color]="quiz.colors.option"/>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validatedCustomFile">Texto Opciones</label>
                <input [(colorPicker)]="TxtOption" class="rad-color" [style.background]="TxtOption" id="color-question" formControlName="TxtOption" (colorPickerChange)="changeColor('TxtOption',$event)" [style.background]="quiz.colors.txtoption" [style.color]="quiz.colors.txtoption"/>
              </div>
            </div>
        
            
        </form>

    </div>

    <div class="col-md-6 mb-6">

        <div class="box-preview col-md-12" [style.background]="colorBackground" [style.background]="quiz.colors.background" *ngIf="form.controls['initial_text'].value">
          <div class="header-preview col-md-12" [style.background]="colorHeader" [style.color]="colorTitle" [style.background]="quiz.colors.header" [style.color]="quiz.colors.name">
            <img class="logo-preview" [src]="quiz.logo"> {{ form.controls['nameQuiz'].value }}
          </div>
          <div class="col-md-11 mb-11 box-cont txt-center" [style.background]="colorQuestion" [style.color]="TxtQuestion" [style.background]="quiz.colors.question" [style.color]="quiz.colors.txtquestion" [innerHTML]="form.controls['initial_text'].value"></div>
        </div>
        
        <div class="box-preview col-md-12" [style.background]="colorBackground" [style.background]="quiz.colors.background" >
            <div class="header-preview col-md-12" [style.background]="colorHeader" [style.color]="colorTitle" [style.background]="quiz.colors.header" [style.color]="quiz.colors.name" *ngIf="!form.controls['initial_text'].value">
              <img class="logo-preview" [src]="quiz.logo"> {{ form.controls['nameQuiz'].value }}
            </div>
            <div class="col-md-11 mb-11 box-cont" [style.background]="colorQuestion" [style.color]="TxtQuestion" [style.background]="quiz.colors.question" [style.color]="quiz.colors.txtquestion">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </div>
            <div class="col-md-11 mb-11 box-cont" [style.background]="colorQuestion" [style.color]="TxtQuestion" [style.background]="quiz.colors.question" [style.color]="quiz.colors.txtquestion">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </div>
            <div class="col-md-11 mb-11 box-cont" [style.background]="colorQuestion" [style.color]="TxtQuestion" [style.background]="quiz.colors.question" [style.color]="quiz.colors.txtquestion">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </div>
            <div class="col-md-11 mb-11 box-cont" [style.background]="colorQuestion" [style.color]="TxtQuestion" [style.background]="quiz.colors.question" [style.color]="quiz.colors.txtquestion">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </div>
        </div>

        <div class="box-preview col-md-12" [style.background]="colorBackground" [style.background]="quiz.colors.background" *ngIf="form.controls['final_text'].value">
          <div class="col-md-11 mb-11 box-cont txt-center" [style.background]="colorQuestion" [style.color]="TxtQuestion" [style.background]="quiz.colors.question" [style.color]="quiz.colors.txtquestion" [innerHTML]="form.controls['final_text'].value"></div>
        </div>

    </div>

  </div>

</div>

<div class="ctr-btns">
  <ul>
    <li><fa-icon [icon]="faArrowAltCircleRight" class="plus-question"  title="Seguiente" *ngIf="step == 'basic-parameters'" (click)="steps('configuration-questions')" ></fa-icon></li>
  </ul>
</div>

<div class="cont-step animated bounceInRight" *ngIf="step == 'configuration-questions'">
  <h1>Configuración de Preguntas</h1>

  <form  #forma="ngForm">

  <ngx-sortable [items]="quiz.questions" [listStyle]="listStyle" [showHeader]="false" (listSorted)="listOrderChanged($event)" >
    <ng-template let-item>

        <div class="sortable-list-item">
      
            <div class="row boxQuestion" *ngIf="item.typeDesign == 'message'">
              <div class="col-md-11 mb-11 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                <ckeditor [editor]="Editor"  class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" name="description_{{item.id}}" ngModel (keyup)="saveQuestions(forma.controls,'description_'+item.id,item)" [(ngModel)]="item.description"></ckeditor>
              </div>
              <div class="col-md-1 mb-1">
                <ul class="confg-controls">
                  <li><div [colorPicker]="item.colors.question" (colorPickerChange)="item.colors.question = $event" class="rad-color" [style.background]="quiz.colors.question" [style.background]="item.colors.question" id="color-question" title="Tarjeta Pregunta"></div></li>
                  <li><div [colorPicker]="item.colors.txtquestion" (colorPickerChange)="item.colors.txtquestion = $event" class="rad-color"  [style.background]="quiz.colors.txtquestion" [style.background]="item.colors.txtquestion" id="color-question" title="Texto Pregunta"></div></li> 
                  <li> <fa-icon [icon]="faClone" class="conf-icon"  title="Clonar pregunta" (click)="clonarQuestion(item)"></fa-icon></li>
                  <li> <fa-icon [icon]="faEdit" class="conf-icon"  title="Editar pregunta" ></fa-icon></li>    
                </ul>
              </div>
            </div> 

            <div class="row boxQuestion" *ngIf="item.typeDesign == 'multiple_choice'">
              <div class="col-md-11 mb-11 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                <ckeditor [editor]="Editor"  class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" name="description_{{item.id}}" ngModel (keyup)="saveQuestions(forma.controls,'description_'+item.id,item)"></ckeditor>
        
                  <div class="list-check">
                    <div class="form-check form-check-inline" *ngFor="let idqs of item.items; let i = index">
                      <input class="form-check-input" type="radio" name="question_{{i}}"  [value]="opt"  id="inlineCheckbox_{{i}}" #data>
                      <label class="form-check-label" for="inlineCheckbox_{{i}}" ><span translate="no"><input name="opnum" class="input-opt"  [style.color]="quiz.colors.txtoption" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion"/></span></label>
                      <div  class="min-icon"  title="Eliminar Opción" (click)="removeOpt(item,'multiple_choice',i)">-</div> 
                    </div>
                  </div> 

              </div>
              <div class="col-md-1 mb-1">
                <ul class="confg-controls">
                  <li><div [colorPicker]="item.colors.question" (colorPickerChange)="item.colors.question = $event" class="rad-color" [style.background]="item.colors.question" [style.background]="quiz.colors.question" id="color-question" title="Tarjeta Pregunta"></div></li>
                  <li><div [colorPicker]="item.colors.txtquestion" (colorPickerChange)="item.colors.txtquestion = $event" class="rad-color" [style.background]="item.colors.txtquestion" [style.background]="quiz.colors.txtquestion"id="color-question" title="Texto Pregunta"></div></li> 
                  <li> <fa-icon [icon]="faClone" class="conf-icon" title="Clonar pregunta" ></fa-icon></li>
                  <li> <fa-icon [icon]="faEdit" class="conf-icon" title="Editar pregunta" ></fa-icon></li>    
                  <li> <fa-icon [icon]="faPlus" class="conf-icon" title="Agregar Opción" (click)="addOpt(item,'multiple_choice')"></fa-icon></li>    
                </ul>
              </div>
            </div> 


            <!-- <div class="row boxQuestion" *ngIf="item.idQuestion == 3">
              <div class="col-md-11 mb-11 cont-itemquestion style-labels" [style.background]="colorQuestion" [style.background]="colorQuestionAlone2">
                <textarea class="cont-question" [style.color]="TxtQuestion" [style.color]="TxtQuestionAlone2"></textarea>
        
                  <div class="list-check two-box">
                    <div class="form-check form-check-inline box-action " [style.background]="colorOption" *ngFor="let idqs of item.itemCubi; let i = index">
                      <input class="form-check-input inp-checkbox" type="checkbox" name="question_{{i}}" [value]="opt"  id="inlineCheckbox_{{i}}" #data>
                      <label class="form-check-label" for="inlineCheckbox_{{i}}" ><span translate="no"><input name="opnum" [style.color]="TxtOption" class="input-opt"  [style.color]="TxtQuestionAlone2" style=""/></span></label>
                      <div  class="min-icon"  title="Eliminar Opción" (click)="removeOpt(item.idQuestion,'itemCubi',i)">-</div> 
                    </div>
                  </div>

              </div>
              <div class="col-md-1 mb-1">
                <ul class="confg-controls">
                  <li><div [colorPicker]="colorQuestionAlone2" (colorPickerChange)="colorQuestionAlone2 = $event" class="rad-color" [style.background]="colorQuestionAlone2" [style.background]="colorQuestion" id="color-question" title="Tarjeta Pregunta"></div></li>
                  <li><div [colorPicker]="TxtQuestionAlone2" (colorPickerChange)="TxtQuestionAlone2 = $event" class="rad-color" [style.background]="TxtQuestionAlone2" [style.background]="TxtQuestion"id="color-question" title="Texto Pregunta"></div></li> 
                  <li> <fa-icon [icon]="faClone" class="conf-icon"  title="Clonar pregunta" ></fa-icon></li>
                  <li> <fa-icon [icon]="faEdit" class="conf-icon"  title="Editar pregunta" ></fa-icon></li>    
                  <li> <fa-icon [icon]="faPlus" class="conf-icon" title="Agregar Opción" (click)="addOpt(item.idQuestion,'itemCubi')"></fa-icon></li>  
                </ul>
              </div>
            </div>  -->


            <div class="row boxQuestion" *ngIf="item.typeDesign == 'check_label'">

              <div class="col-md-11 mb-11 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                <ckeditor [editor]="Editor"  class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" ></ckeditor>
       
                  <div class="list-check">
                    <div class="row">
                      <div class="col-md-6" *ngFor="let lab of item.items; let l = index">
                        <div class="row">
                            <div class="label-option col-md-3">
                              <input name="inp-item" class="input-opt" [style.color]="quiz.colors.txtoption"  [style.color]="item.colors.txtquestion" />
                            </div>
                            <div class="items-options-list col-md-3">
                              <div class="form-check form-check-inline" *ngFor="let idqs of item.items[l].options; let i = index">
                                <input class="form-check-input inp-checkbox" type="radio" name="question_{{i}}" [value]="opt"  id="inlineCheckbox_{{i}}" #dataCkMensaje>
                                <label class="form-check-label" for="inlineCheckbox_{{i}}" ><span translate="no"><input name="opnum" class="input-opt" [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion" /></span></label>
                                <div  class="min-icon"  title="Eliminar Opción" (click)="removeOpt(item.items[l],'check_label',i)">-</div> 
                              </div>
                              <ul class="confg-controls ind-cont">
                                <li><fa-icon [icon]="faPlus" class="conf-icon" title="Agregar Opción" (click)="addOptLabel(item.items[l],'check_label')"></fa-icon></li>
                              </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div> 
              </div>

              <div class="col-md-1 mb-1">
                <ul class="confg-controls">
                  <li><div [colorPicker]="item.colors.question" (colorPickerChange)="item.colors.question = $event" class="rad-color" [style.background]="item.colors.question" [style.background]="quiz.colors.question" id="color-question" title="Tarjeta Pregunta"></div></li>
                  <li><div [colorPicker]="item.colors.txtquestion" (colorPickerChange)="item.colors.txtquestion = $event" class="rad-color" [style.background]="item.colors.txtquestion" [style.background]="quiz.colors.txtquestion" id="color-question" title="Texto Pregunta"></div></li> 
                  <li> <fa-icon [icon]="faClone" class="conf-icon"  title="Clonar pregunta" ></fa-icon></li>
                  <li> <fa-icon [icon]="faEdit" class="conf-icon"  title="Editar pregunta" ></fa-icon></li>    
                  <li><fa-icon [icon]="faPlus" class="conf-icon" title="Agregar Opción" (click)="addOpt(item,'check_label')"></fa-icon></li>        
                </ul>
              </div>

            </div> 


            <div class="row boxQuestion" *ngIf="item.typeDesign == 'open_question'">

              <div class="col-md-11 mb-11 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                <ckeditor [editor]="Editor"  class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" ></ckeditor>
                <textarea class="cont-question-txt"></textarea>
              </div>
              <div class="col-md-1 mb-1">
                <ul class="confg-controls">
                  <li><div [colorPicker]="item.colors.question" (colorPickerChange)="item.colors.question = $event" class="rad-color" [style.background]="quiz.colors.question" [style.background]="item.colors.question" id="color-question" title="Tarjeta Pregunta"></div></li>
                  <li><div [colorPicker]="item.colors.txtquestion" (colorPickerChange)="item.colors.txtquestion = $event" class="rad-color" [style.background]="item.colors.txtquestion" [style.background]="quiz.colors.txtquestion" id="color-question" title="Texto Pregunta"></div></li> 
                  <li> <fa-icon [icon]="faClone" class="conf-icon"  title="Clonar pregunta" ></fa-icon></li>
                  <li> <fa-icon [icon]="faEdit" class="conf-icon"  title="Editar pregunta" ></fa-icon></li>    
                </ul>
              </div>

            </div> 

          
            <div class="row boxQuestion style-table" *ngIf="item.typeDesign == 'table'">

              <div class="col-md-11 mb-11 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                <ckeditor [editor]="Editor"  class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" ></ckeditor>
                <div class="row cont-table">
                  <div class="col-md-4 mb-4 box-fixed">
                    <div class="col-md-12 mb-12 tr head-table"></div>
                    <div *ngFor="let lab of item.items; let l = index">
                      <div class="col-md-12 mb-12 tr head-table"><input name="opnum" class="input-opt w-full" [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion" /></div>
                    </div>
                  </div>
                  
                  <div class="col-md-12 mb-12">
                    
                    <div *ngFor="let lab of item.items; let l = index" class="free-fixed row">

                      <div *ngIf="l == 0" class="w-full">
                        <ul class="confg-controls conf-int">
                          <li><fa-icon [icon]="faPlus" class="conf-icon" title="Agregar Opción" (click)="addOptLabel(item.items[l],'table')"></fa-icon></li>
                        </ul>
                        <div  *ngFor="let idqs of item.items[l].options; let i = index" class="col-md-4 col-td">
                          <div class="row" >
                            <div class="col-md-12 mb-12 tr head-table"><input name="opnum" class="input-opt w-full" [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion" /></div> 
                          </div>
                          <div class="row" *ngFor="let lab of item.items; let d = index">
                            <div class="col-md-4 mb-4 td"></div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 mb-1">
                <ul class="confg-controls">
                  <li><div [colorPicker]="item.colors.question" (colorPickerChange)="item.colors.question = $event" class="rad-color" [style.background]="quiz.colors.question" [style.background]="item.colors.question" id="color-question" title="Tarjeta Pregunta"></div></li>
                  <li><div [colorPicker]="item.colors.txtquestion" (colorPickerChange)="item.colors.txtquestion = $event" class="rad-color" [style.background]="item.colors.txtquestion" [style.background]="quiz.colors.txtquestion" id="color-question" title="Texto Pregunta"></div></li> 
                  <li> <fa-icon [icon]="faClone" class="conf-icon"  title="Clonar pregunta" ></fa-icon></li>
                  <li> <fa-icon [icon]="faEdit" class="conf-icon"  title="Editar pregunta" ></fa-icon></li>    
                  <li><fa-icon [icon]="faPlus" class="conf-icon" title="Agregar Opción" (click)="addOpt(item,'table')"></fa-icon></li>
                </ul>
              </div>

            </div> 


        </div>

    </ng-template>
</ngx-sortable>
</form>

</div>

<div class="ctr-btns">
  <ul>
    <li><fa-icon [icon]="faArrowAltCircleLeft" class="plus-question"  title="Atrás" *ngIf="step == 'configuration-questions'" (click)="steps('basic-parameters')" ></fa-icon></li>
    <li><fa-icon [icon]="faArrowAltCircleRight" class="plus-question"  title="Seguiente" *ngIf="step == 'configuration-questions'" (click)="steps('basic-parameters')" ></fa-icon></li>
    <li><fa-icon [icon]="faPlusCircle" class="plus-question"  title="Agregar Pregunta" *ngIf="step == 'configuration-questions'"  data-toggle="modal" data-target="#exampleModalCenter" (click)="modalTypeQuestion = true"></fa-icon></li>
  </ul>
</div>

<div [ngClass]="{'show': modalTypeQuestion == true}" [ngStyle]="{'display': modalTypeQuestion == true ? 'block' : 'none' }" class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >

<form [formGroup]="formTypeQuestion" (ngSubmit)="typeQuestion()" class="needs-validation" novalidate>

  <div class="modal-dialog modal-lg modal-dialog-centered" role="document"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Componente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-6">

              <div class="custom-control custom-radio">
                <input type="radio" id="message" name="typeQuestion" class="custom-control-input" formControlName="typeQuestion" value="message">
                <label class="custom-control-label" for="message">Mensaje</label>
              </div>

            </div>
            <div class="col-md-6">
              <img src="https://i.pinimg.com/originals/da/c8/d4/dac8d4cb582558f281b6d0e1711c4838.gif" class="img-quiestion-type">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="custom-control custom-radio">
                <input type="radio" id="open_question" name="typeQuestion" class="custom-control-input" formControlName="typeQuestion" value="open_question">
                <label class="custom-control-label" for="open_question">Pregunta Abierta</label>
              </div>

            </div>
            <div class="col-md-6">
              <img src="https://i.pinimg.com/originals/da/c8/d4/dac8d4cb582558f281b6d0e1711c4838.gif" class="img-quiestion-type">
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6">

              <div class="custom-control custom-radio">
                <input type="radio" id="multiple_choice" name="typeQuestion" class="custom-control-input" formControlName="typeQuestion"  value="multiple_choice">
                <label class="custom-control-label" for="multiple_choice">Selección Multiple</label>
              </div>

            </div>
            <div class="col-md-6">
              <img src="https://i.pinimg.com/originals/b9/83/17/b98317fb6a4557174555cd3330aba443.gif" class="img-quiestion-type">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="custom-control custom-radio">
                <input type="radio" id="multiple_choice_table" name="typeQuestion" class="custom-control-input" formControlName="typeQuestion"  value="table">
                <label class="custom-control-label" for="multiple_choice_table">Tabla</label>
              </div>

            </div>
            <div class="col-md-6">
              <img src="https://i.pinimg.com/originals/9e/58/94/9e58940d4cafe94af5521b018e8a601e.gif" class="img-quiestion-type">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="custom-control custom-radio">
                <input type="radio" id="label_check" name="typeQuestion" class="custom-control-input" formControlName="typeQuestion"  value="check_label">
                <label class="custom-control-label" for="label_check">Label check</label>
              </div>

            </div>
            <div class="col-md-6">
              <img src="https://i.pinimg.com/originals/9e/58/94/9e58940d4cafe94af5521b018e8a601e.gif" class="img-quiestion-type">
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Seleccionar</button>
        <div  data-dismiss="modal" #closeBtn></div>
      </div>
    </div>
  </div>

</form>

</div>


</div>
<div class="d-flex justify-content-center load-comp" *ngIf="loading == true">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>