<div *ngIf="loading == false" [style.background]="quiz.colors.background" class="background-prev prev-data">
<nav class="navbar navbar-light " [style.background]="quiz.colors.header" [style.color]="quiz.colors.name" >
    <a class="navbar-brand" href="#">
      <img [src]="quiz.logo" width="30" height="30" alt="">
    </a>
</nav>
<div class="container top-50">
 
<form  #formDataUser="ngForm" >
  <div class="card animated fadeIn mens-data" [hidden]="!showInput">
      <div class="cnt-message">
          <div class="card-text" [innerHTML]="quiz.initial_text" translate="no"></div>
        <div class="form-group" *ngFor="let item of quiz.inputs">
          <input  class="form-control inp-quiz" [id]="item.name" name="{{ item.name }}" [placeholder]="item.placeholder" ngModel >
        </div>
        <button type="submit" class="btn btn-primary bg-col" (click)="openQuiz(formDataUser)">Enviar</button>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="validExist">
        Este usuario no existe
      </div>
  </div>
</form>

<form  #formPrev="ngForm" class="animated bounceInUp fast"  >

    <div *ngFor="let item of quiz.questions; let idQ = index" [hidden]="!showQuestions">
    
              <div class="row boxQuestion" *ngIf="item.typeDesign == 'message'">
                
                <div class="col-md-12 mb-12 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                  <div class="id_question">{{ idQ + 1 }}</div>
                  <div class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" [innerHTML]="item.description"></div>
                </div>
              </div> 
  
  
              <div class="row boxQuestion" *ngIf="item.typeDesign == 'multiple_choice'">
                
                <div class="col-md-12 mb-12 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                  <div class="id_question">{{ idQ + 1 }}</div>
                  <div class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" [innerHTML]="item.description"></div>
          
                    <div class="list-check">
                      <div class="form-check form-check-inline" *ngFor="let idqs of item.items; let i = index">

                        <div *ngIf="item.responsiveDesign == 'basic'">
                          <input class="form-check-input" type="radio" name="question_{{idQ}}_{{i}}"  id="inlineCheckbox_{{idQ}}_{{i}}" (click)="stateQuiz(item, idqs,'multiple_choice',input)"  [checked]="idqs.check"   ngModel #input>    
                          <label class="form-check-label" for="inlineCheckbox_{{idQ}}_{{i}}" >
                            <span translate="no">
                            <div [style.color]="quiz.colors.txtoption" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion">{{ idqs.name }}</div>
                            </span>
                          </label>
                          <input type="text" class="input-other" name="other_{{idQ}}_{{i}}" *ngIf="idqs.check && idqs.type =='other'" [(ngModel)]="idqs.value">
                        </div>

                        <div *ngIf="item.responsiveDesign == 'faces' || item.responsiveDesign == 'heart'">   
                          <label class="form-check-label">
                            <fa-icon class="iconDesign" [icon]="selectIconOption(item.responsiveDesign,i)" id="inlineCheckbox_{{idQ}}_{{i}}" (click)="stateQuiz(item, idqs,'multiple_choice',input)" [style.color]="idqs.color" (mouseover)="idqs.hover=true" (mouseleave)="idqs.hover=false" [ngStyle]="{color: idqs.hover==true || idqs.check==true   ? item.colorHover : idqs.color  }" #input></fa-icon>
                          </label>
                        </div>

                        <div *ngIf="item.responsiveDesign == 'square'">
                          <label (mouseover)="idqs.hover=true" (mouseleave)="idqs.hover=false" [style.color]="item.colorFont" (click)="stateQuiz(item, idqs,'multiple_choice',input)" [ngStyle]="{background: idqs.hover==true || idqs.check==true ? item.colorHover : idqs.color }" class="form-check-label item_square" for="optDesig_4_{{i}}" #input>{{ idqs.name }}</label>
                        </div>
                     
                      </div>

                      <div *ngIf="item.responsiveDesign == 'slider'" class="content-slider">
                        <mat-slider min="item.items[0].name" [max]="item.items[item.items?.length-1].name"  [step]="item.items[1].name-item.items[0].name" thumbLabel   [style.color]="sliColor(item.color,idSlider) " (change)="saveSlider(idSlider,item)" #idSlider></mat-slider>
                      </div>

                    </div> 
  
                </div>

                <div class="alert alert-danger mt-3" role="alert" *ngIf="item.alert">
                  {{ item.alert }}
                </div>
                
              </div> 
  
              <div class="row boxQuestion" *ngIf="item.typeDesign == 'check_label'">
                
                <div class="col-md-12 mb-12 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                  <div class="id_question">{{ idQ + 1 }}</div>
                  <div class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" [innerHTML]="item.description"></div>
         
                    <div class="list-check">
                      <div class="row">
                        <div class="col-md-6" *ngFor="let lab of item.items; let l = index">
                          <div class="row">
                              <div class="label-option col-md-3">
                                <!-- <input class="input-opt" [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion" [name]="item.id+'_label_'+l" [(ngModel)]="lab.label"/> -->
                                <div [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion" >{{ lab.label }}</div>
                              </div>
                              <div class="items-options-list col-md-3">
                                <div class="form-check form-check-inline" *ngFor="let idqs of item.items[l].options; let i = index">
                                  <input class="form-check-input inp-checkbox" type="radio" name="question_{{l}}_{{i}}"  id="inlineCheckbox_{{l}}_{{i}}" (click)="stateQuiz(lab, idqs.name,'check_label')" [checked]="lab.options[i].check && idqs.name == lab.options[i].name">
                                  <label class="form-check-label" for="inlineCheckbox_{{l}}_{{i}}" >
                                    <span translate="no">
                                      <!-- <input name="opnum" class="input-opt" [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion" [name]="item.id+'_label_'+l+'_opt_'+i" [(ngModel)]="idqs.name"/> -->
                                      <div [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion"  >{{ idqs.name }}</div>
                                    </span>
                                  </label> 
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div> 
  
                </div>
  
              </div> 
  
  
              <div class="row boxQuestion" *ngIf="item.typeDesign == 'open_question'">
                
                <div class="col-md-12 mb-12 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                  <div class="id_question">{{ idQ + 1 }}</div>
                  <div class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" [innerHTML]="item.description"></div>
                  <textarea class="cont-question-txt" id="description_{{ idQ }}_{{item.id}}"  name="description_{{ idQ }}_{{item.id}}" (keyup)="stateQuiz(item,valueTxt,'open_question')" #valueTxt></textarea>
                </div>
  
              </div>  
  
            
              <div class="row boxQuestion style-table" *ngIf="item.typeDesign == 'table'">
                
                <div class="col-md-12 mb-12 cont-itemquestion" [style.background]="quiz.colors.question" [style.background]="item.colors.question">
                  <div class="id_question">{{ idQ + 1 }}</div>
                  <div class="cont-question" [style.color]="quiz.colors.txtquestion" [style.color]="item.colors.txtquestion" [innerHTML]="item.description"></div>
                  <div class="row cont-table">
                    <div class="col-md-4 mb-4 box-fixed">
                      <div class="col-md-12 mb-12 tr head-table"></div>
                      <div *ngFor="let lab of item.items; let l = index">
                        <div class="col-md-12 mb-12 tr head-table">
                          <div  [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion">{{ lab.label }}</div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-12 mb-12">
                      
                      <div *ngFor="let labOne of item.items; let l = index" class="free-fixed row">
  
                        <div *ngIf="l == 0" class="w-full">
                          
                          <div  *ngFor="let idqs of item.items[l].options; let i = index" class="col-md-4 col-td">
                            <div class="row" >
                              <div class="col-md-12 mb-12 tr head-table">
                                <div [style.color]="quiz.colors.txtoption" [style.color]="item.colors.txtquestion" >{{ idqs.name }}</div>
                              </div> 
                            </div>
                           <div class="row" *ngFor="let lab of item.items; let d = index">
                              <div class="col-md-4 mb-4 td" (click)="stateQuiz(lab, idqs.name,'table')" [ngClass]="{'active': lab.options[i].check && idqs.name == lab.options[i].name }"></div>
                           </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
  
              </div> 
  
    </div>

    <div class="card animated fadeIn mens-data" [hidden]="!showEndQuiz">
      <div class="cnt-message">
          <div class="card-text" [innerHTML]="quiz.final_text" translate="no"></div>
      </div>  
    </div>

    <button type="submit" class="btn btn-primary btn-rigt" *ngIf="showQuestions" (click)="saveResponse('finished')">Enviar</button>
  </form>



</div>

</div>
<div class="d-flex justify-content-center load-comp" *ngIf="loading == true">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>

