Carga de preguntas
<input type="file" #csvReaderQuestions name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event,'questions')" accept=".csv" />
Carga de Usuarios
<input type="file" #csvReaderUsers name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event,'users')" accept=".csv" />

<div class="card animated fadeInDown mens-data" *ngIf="showMessage">
  <div class="card-body cnt-message">
    <p class="card-text">{{ message }}</p>
    <button type="button" class="btn btn-primary" (click)="openInputs()">Continuar</button>
  </div>
</div>

<div class="card animated fadeIn mens-data" *ngIf="showInput">
  <div class="cnt-message">
    <div class="form-group" *ngFor="let item of inputs">
      <input [type]="item.type" class="form-control" [id]="item.name" aria-describedby="emailHelp" [placeholder]="item.placeholder" #camp>
    </div>
    <button type="submit" class="btn btn-primary" (click)="openQuiz()">Enviar</button>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showValUser">
    Este usuario no existe
  </div>
</div>

<form class="list-cont-questions" *ngIf="showQuestions">

<div *ngFor="let item of questions; let pre = index">

  <div class="form-group animated bounceInUp fast" [ngClass]="{'active': stateBox == 1}"  *ngIf="item.id != '0.2'" #{{i}}>
    <label class="txt-question" for="formGroupExampleInput" >{{ item.questions.message }}</label>

    <div class="list-check" *ngIf="item.typeDesign == 'check'">
      <div class="form-check form-check-inline" *ngFor="let opt of item.questions.option[0].options; let op = index">
        <input class="form-check-input" type="radio" name="question{{ item.id }}"  id="inlineCheckbox{{ item.id }}-{{ op }}" value="{{ opt }}" (change)="saveOption(item.id,data,item.questions.message)" #data>
        <label class="form-check-label" for="inlineCheckbox{{ item.id }}-{{ op }}">{{ opt }}</label>
      </div>
    </div>

    <div class="list-check-box two-box"  *ngIf="item.typeDesign == 'tabla'">
      <div class="row">
      <div class="form-check box-action col-12 col-sm-3" *ngFor="let opt of item.questions.option[0].options; let op = index">
        <input class="form-check-input" type="radio" id="box{{ item.id }}-{{ op }}" value="{{ opt }}">
        <label class="form-check-label" for="box{{ item.id }}-{{ op }}">{{ opt }}</label>
      </div>
      </div>
    </div>

    <div class="list-check-box two-box" *ngIf="item.typeDesign == 'tabla-multiple'">
      <div class="row">
        <div class="col-12 col-sm-3">
        </div>
        <div class="form-check form-check-inline col-12 col-sm-2" *ngFor="let opt of item.questions.option[0].options; let op = index">
          <label class="form-check-label" for="box1">{{ opt }}</label>
        </div>

        <div class="form-check form-check-inline col-12 col-sm-3" *ngFor="let opt of item.questions.option[1].options; let op = index">
          <label class="form-check-label">{{ opt }}</label>
        </div>
        <div class="form-check form-check-inline box-action col-12 col-sm-2" *ngFor="let opt of item.questions.option[0].options; let op = index">
          <input class="form-check-input" type="checkbox" id="box{{ item.id }}-{{ op }}" value="{{ opt }}">
          <label class="form-check-label" for="box{{ item.id }}-{{ op }}"></label>
        </div>
      </div>
    </div>

    <textarea class="form-control" id="exampleFormControlTextarea1" *ngIf="item.typeDesign == 'textbox'" rows="3"></textarea>

  </div>

</div>

<div class="float-degrade"></div>

</form>
