/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
html,body {
  overflow: auto;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  line-height: 1.5 !important;
}
ol {
  margin: 0 !important;
  padding: 0 !important;
}
body{
  background-color: #f1f1f1 !important;
}
h1 {
  margin-bottom: 43px !important;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.bg-col {
    background-color: #000000 !important;
    border-color: #000000 !important;
}
.nav-float{
  position: fixed !important;
  z-index: 9;
  width: 100%;
  top: 0;
}
.logo img{
  width: 191px;
}
.form-control-lg {
  height: calc(1.5em + 1rem + 2px) !important;
  padding: .5rem 1rem !important;
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
  border-radius: .3rem !important;
}
.color1{
  background-color: #000000;
}
#color1{
  background-color: #ca980a;
}
.rad-color{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5ea2ef;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}
.top-50{
  margin-top: 120px;
  margin-bottom: 120PX;
}
.txt-question{
  font-size: 20px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  width: 95%;
  margin-left: 23px !important;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
}
label.item-num {
    float: left;
    width: 3%;
    height: 45px;
    font-size: 19px;
    font-weight: bold;
}
textarea, input {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
.list-check  {
  margin-left: 44px;
  margin-top: 34px;
}
.list-check label, .list-check-box label{
  color: #000000;
}
.list-check .form-check{
  font-size: 18px;
}
.list-check-box .form-check-label{
  padding: 5px;
  text-align: center;
}
.list-check-box .form-check-input{
  display: none;
}
.list-check-box .form-check{
  margin: 0;
}
.label-option{
  margin-right: 10px;
  font-weight: bold;
/*  width: 154px;*/
  width: 122px;
  margin-bottom: 28px;
}
.two-box .form-check{
  /*width: 50%;*/
  color: #000000;
  background-color: #94d7f7;
  border: solid 1px #fff;
}
/*.tb-mul .form-check {
  height: 49px;
  min-width: 312px;
}*/
/*.tb-mul .form-check {
    height: 49px;
    min-width: 156px;
    font-size: 11px;
}*/
.cont-left {
  margin-left: -34px;
  position: fixed !important;
  min-width: 301px;
  z-index: 99;
  margin-top: 105px;
}
.opt-right{
  z-index: 1;
  margin-left: 314px;
}
.head-left .form-check{
  width: 100% !important;
}

.head-box {
    padding: 11px;
    padding-bottom: 6px;
    padding-left: 10px !important;
}
.tb-mul .form-check {
    height: 49px;
    width: 156px;
    min-width: 156px;
    font-size: 72%;
    padding: 0;
}
.event-cli{
  width: 100%;
  height: 100%;
  position: absolute;
}
.min-tab , .head-left .form-check{
  background: #ffffff !important;
  border: solid 1px #fdc82f61 !important;
}
.min-tab label, .head-left label{
  color: #ca980a !important;
}
.scroll-table {
  overflow: auto;
}
.scroll-table .row{
  width: 1918px;
}
.items-options-list{
  width: 300px;
  margin: 12px;
  margin-top: 0;
}
.two-box .form-check-label{
  width: 100%;
}
.min-tab {
    min-height: 90px !important;
    -webkit-box-align: start !important;
    align-items: flex-start !important;
}
.cn-box{
  margin: 0 !important;
  padding: 0 !important;
  height: 49px !important;
}
.chl-bok{
  min-height: 36px;
}
.data-box{
  padding-right: 0;
}
.head-box{
  margin: 0 !important;
  padding: 7px;
  padding-right: 14px !important;
}
.cn-box .chl-bok {
  height: -webkit-fill-available !important;
}
.ali-box {
    float: left;
    margin: 0 !important;
    padding: 0px !important;
    margin-left: 0px !important;
}
.two-box {
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 8%;
}
.tb-mul {
    margin-left: 40px;
}
.two-box .box-action:hover{
  background-color: #ffffff !important;
}
.two-box .box-action:hover label{
    color: #fdc82f;
}
.action{
  background-color: #ffffff !important;
  border: solid 1px #fdc82f !important;
}

.asc:active,
.asc:focus,
.asc:hover{
  background-color: #ffffff !important;
  border: solid 1px #fdc82f !important;
}
.two-box .box-action.action label{
  color: #fdc82f;
}
.list-cont-questions{
  margin-bottom: 25%;
}
.list-cont-questions .form-group{
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.22);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.22);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.22);
  border-radius: 10px;
  padding: 56px;
}
.float-degrade {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #000000;
    z-index: 9;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(10, 10, 10, 0.62) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(10, 10, 10, 0.62) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(10, 10, 10, 0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.list-cont-questions .form-group.active{
  background-color: aliceblue;
  transition-duration: 1s;
}
.list-cont-questions .valAct{
  border: #ff000061 solid;
}
.tb-report thead {
    border-bottom: solid 30px #fff;
}
.cnt-message{
  text-align: center;
  padding: 55px !important;
  font-size: 23px;
}
.mens-data{
  width: 60%;
  margin: 0 auto;
}
.col-check .opt{
  background-color: #ffea55 !important;
}
.cn-leb{
  display: contents;
}
.cn-leb td , .cn-leb th{
  background-color: #ccc;
}
.cn-leb .msg{
  min-width: 350px;
}
.cn-leb .opt{
  min-width: 250px;
  background-color: #bce6ff;
}
.cn-leb .id{
  background-color: #8da9fc;
  max-width: 10px !important;
}
.lab-text{
  background-color: #f9a8ff !important;
}

/* Preview encuesta */
.header-preview {
  background-color: #ddd;
  height: 48px;
  color: #5d5858;
  padding: 11px;
}
.box-preview {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 11px;
  padding: 0 !important;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.31);
}
.box-cont {
  background-color: #eaedf3;
  padding: 23px;
  margin: 22px;
  border-radius: 11px;
}
.box-cont.txt-center{
 text-align: center;
}

/* QUESTIONS  */

.cont-question{
  border: none;
  background-color: initial;
  resize: vertical;
  width: 100%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #6d6969;
}

.cont-itemquestion{
  background-color: #eaedf3;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.31);
  border-radius: 11px;
  padding: 56px !important;
}

.min-icon {
  font-size: 30px;
  float: left;
  height: 21px;
  line-height: 0 !important;
  display: block;
  text-align: initial;
  color: #000000;
  cursor: pointer;
  line-height: 0.5 !important;
  margin-left: 11px;
}
.bt-plus{
  margin-top: 31px;
  background-color: #ddd;
  padding: 5px;
  height: 33px;
  width: 33px;
  text-align: center;
  border-radius: 50%;
}

.input-opt{
  background: none;
  width: 100px;
  border: solid 1px #bbb;
  border-radius: 20px;
  padding-left: 13px;
}

.min-icon svg{
  height: 100%;
}

.plus-question{
  color: #007bff;
  font-size: 57px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-quiestion-type{
  width: 100%;
}
.confg-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.conf-int{
  margin: 16px;
  position: fixed;
  left: 21px;
  z-index: 1;
}

.ind-cont{
  margin: 16px;
}

.w-full{
  width: 100%;
}

.free-fixed .col-td{
  max-width: 370px;
  float: left;
}

.confg-controls .rad-color , .confg-controls .conf-icon{
  width: 30px;
  height: 30px;
}

.confg-controls .conf-icon svg{
  width: 16px;
  height: 16px;
}

.conf-icon{
  border-radius: 50%;
  background-color: #060c17;
  color: white;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
}
.confg-controls li {
  min-height: 40px;
}

.box-button {
  margin: 19px;
}

.box-button .bt-cf{
  margin: 0;
  padding: 0;
}
.ctr-btns{
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.ctr-btns ul{
  list-style: none;
  margin: 0;
}

.ctr-btns li {
  float: left;
}

.boxQuestion{
  margin-top: 20px;
}
.box-cont-qs{
  padding: 39px;
  background: #e4bebe;
}

ngx-sortable ul{
  overflow: initial !important;
}

ngx-sortable .sortable-container{
  border: none !important;
}
.sortable-container li{
  background: none !important;
}

.bt-right{
  float: right;
}

.cont-question-txt {
  width: 100%;
  min-height: 117px;
  padding: 20px;
  margin-top: 12px;
}

/*ESTILOS DE PREGUNTAS*/

.style-labels .inp-checkbox{
  display: none;
}

.style-labels .input-opt{ 
  border: none;
}

.style-table {
  font-size: 15px;
  color: #000;
} 

.style-table .head-table{
  min-height: 50px;
  background-color: white;
}

.style-table .box-fixed{
  position: fixed;
  z-index: 1;
  padding: 0;
}

.style-table .cont-table{
  overflow: auto;
  padding-bottom: 13px;
  margin-top: 20px;
}

.style-table .scroll-table{
  width: 1100px;
}

.style-table .tr{
  border: solid 1px #ddd;
  padding: 12px;
  text-align: center;
  margin: 0 !important;
  padding-left: 8px;
  padding-right: 8px;
}
.style-table .td{
  padding: 13.8px;
  text-align: center;
  margin: 0 !important;
  min-width: 100%;
  background-color: #e2e2e2;
  border: solid 1px #f3f3f3;
  min-height: 50px;
}

.style-table .free-fixed{
  margin-left: 38%;
  width: 300% !important;
}


@media (max-width: 576px){
  .two-box{
    padding: 0;
    margin: 0;
  }
  .list-check, .list-check-box{
    margin: 0;
  }
  input[type=radio] {
    border: 0px;
    width: 24px;
    height: 2em;
  }
}

/* DASHBOARD */

.box-data{
  background-color: white;
  border-radius: 20px;
  padding: 27px;
  margin-bottom: 31px;
}

.box-data h3{
  font-weight: bold;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.modal-dashboard{
  padding: 0 !important;
  
}
.modal-grap-question  .modal-dialog{
  margin-left: 0;
}
.modal-dashboard .modal-dialog{
  margin-right: 0;
}
.modal-dashboard .modal-dialog, .modal-grap-question  .modal-dialog{
  margin-top: 0;
  margin-bottom: 0;
  height: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

.modal-dashboard .modal-dialog .modal-content{
  height: auto;
  padding: 33px;
}

.cont-step{
  transition-delay: 3s;
  transition: 1s;
}

.pop-right {
  margin-left: -40%;
  margin-right: 40%;
}

.pop-left {
  margin-left: 15%;
  margin-right: -15%;
}

.modal-backdrop.fade.show {
  opacity: 0 !important;
}

.modal-backdrop.fade{
  background-color: #a4d3d6 !important;
}

.modal-content{
  border: none !important;
  border-radius: none !important;
}

.modal-dashboard .modal-content{
  /* -webkit-box-shadow: inset 20px 0px 26px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    inset 20px 0px 26px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         inset 20px 0px 26px 0px rgba(50, 50, 50, 0.1); */
  background-color: #f1f1f1;
}

.alerts-question ul{
  padding: 0;
  list-style: none;
}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.alerts-question fa-icon.ng-fa-icon.conf-icon {
  background-color: red;
}

.background-head {
  background-color: #046bc3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: -webkit-fill-available;
  min-height: 273px;
}
.logo-preview{
  width: 25px;
  margin-right: 11px;
}
.inp-file{
  overflow: hidden;
  line-height: 36px !important;
}

/* LISTADO DE ENCUESTAS  */

.box-profile {
  margin-top: 4%;
}
.box-profile .card {
  background-color: initial;
  border: none;
}
.box-profile  .img-profile {
  width: 87px;
  border-radius: 50%;
  display: block;
  margin: auto !important;
  margin-bottom: 26px !important;
}

.box-profile h3{
  text-align: center;
  color: white;
}

.load-comp{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.load-comp .spinner-border {
  width: 9rem;
  height: 9rem;
}

.tap-conf{
  margin: 19px;
}
.cont-input{
  margin-top: 10px;
}
.cont-input .mini-txt{
  color: #676767;
  font-size: 14px;
  margin: 8px;
}
.icon-condi{
  font-size: 24px;
}

.box-list-input{
  border: solid 1px #ddd;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28%;
  height: 190px;
  background-color: white;
  overflow: auto;
  z-index: 9;
}

.push_input {
  margin-left: 0;
  padding-left: 0;
  font-size: 13px;
  color: #797979;
}
.input-preview{
  background-color: #fff;
  border-radius: 13px;
  text-align: left;
  padding: 3px;
  padding-left: 13px;
  font-size: 12px;
  color: #737373;
  width: 246px;
  margin: 0 auto;
}
#uploadInputsRelated{
  display: none;
}