/* You can add global styles to this file, and also import other style files */
html,body {
  /*overflow: hidden;*/
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
ol {
  margin: 0 !important;
  padding: 0 !important;
}
body{
  background-color: #f1f1f1 !important;
}
.bg-col {
    background-color: #000000 !important;
    border-color: #000000 !important;
}
.nav-float{
  position: fixed !important;
  z-index: 9;
  width: 100%;
  top: 0;
}
.logo img{
  width: 191px;
}
.top-50{
  margin-top: 120px;
}
.txt-question{
  font-size: 20px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  width: 95%;
  margin-left: 23px !important;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
}
label.item-num {
    float: left;
    width: 3%;
    height: 45px;
    font-size: 19px;
    font-weight: bold;
}
.list-check  {
  margin-left: 44px;
  margin-top: 34px;
}
.list-check label, .list-check-box label{
  color: #000000;
}
.list-check .form-check{
  font-size: 18px;
}
.list-check-box .form-check-label{
  padding: 5px;
  text-align: center;
}
.list-check-box .form-check-input{
  display: none;
}
.list-check-box .form-check{
  margin: 0;
}
.label-option{
  margin-right: 10px;
  font-weight: bold;
/*  width: 154px;*/
  width: 122px;
  margin-bottom: 28px;
}
.two-box .form-check{
  /*width: 50%;*/
  color: #000000;
  background-color: #fdc82f;
  border: solid 1px #fff;
}
/*.tb-mul .form-check {
  height: 49px;
  min-width: 312px;
}*/
/*.tb-mul .form-check {
    height: 49px;
    min-width: 156px;
    font-size: 11px;
}*/
.cont-left {
  margin-left: -34px;
  position: fixed !important;
  min-width: 301px;
  z-index: 99;
  margin-top: 105px;
}
.opt-right{
  z-index: 1;
  margin-left: 314px;
}
.head-left .form-check{
  width: 100% !important;
}

.head-box {
    padding: 11px;
    padding-bottom: 6px;
    padding-left: 10px !important;
}
.tb-mul .form-check {
    height: 49px;
    width: 156px;
    min-width: 156px;
    font-size: 72%;
}
.min-tab , .head-left .form-check{
  background: #ffffff !important;
  border: solid 1px #fdc82f61 !important;
}
.min-tab label, .head-left label{
  color: #ca980a !important;
}
.scroll-table {
  overflow: auto;
}
.scroll-table .row{
  width: 1918px;
}
.items-options-list{
  width: 300px;
  margin: 12px;
  margin-top: 0;
}
.two-box .form-check-label{
  width: 100%;
}
.min-tab {
    min-height: 90px !important;
    -webkit-box-align: start !important;
    align-items: flex-start !important;
}
.cn-box{
  margin: 0 !important;
  padding: 0 !important;
}
.chl-bok{
  min-height: 36px;
}
.data-box{
  padding-right: 0;
}
.head-box{
  margin: 0 !important;
  padding: 7px;
  padding-right: 14px !important;
}
.ali-box {
    float: left;
    margin: 0 !important;
    padding: 0px !important;
    margin-left: 0px !important;
}
.two-box {
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 8%;
}
.tb-mul {
    margin-left: 40px;
}
.two-box .box-action:hover{
  background-color: #ffffff;
}
.two-box .box-action:hover label{
    color: #fdc82f;
}
.action{
  background-color: #ffffff !important;
  border: solid 1px #fdc82f !important;
}

.asc:active,
.asc:focus,
.asc:hover{
  background-color: #ffffff !important;
  border: solid 1px #fdc82f !important;
}
.two-box .box-action.action label{
  color: #fdc82f;
}
.list-cont-questions{
  margin-bottom: 25%;
}
.list-cont-questions .form-group{
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.22);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.22);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.22);
  border-radius: 10px;
  padding: 56px;
}
.float-degrade {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #000000;
    z-index: 9;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(10, 10, 10, 0.62) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(10, 10, 10, 0.62) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(10, 10, 10, 0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.list-cont-questions .form-group.active{
  background-color: aliceblue;
  transition-duration: 1s;
}
.cnt-message{
  text-align: center;
  padding: 55px !important;
  font-size: 23px;
}
.mens-data{
  width: 60%;
  margin: 0 auto;
}
.cn-leb{
  display: contents;
}
.cn-leb td{
  background-color: #ccc;
}
.cn-leb td.msg{
  min-width: 350px;
}
.cn-leb td.opt{
  min-width: 250px;
  background-color: #bce6ff;
}
.cn-leb td.id{
  background-color: #8da9fc;
  max-width: 10px !important;
}
@media (max-width: 576px){
  .two-box{
    padding: 0;
    margin: 0;
  }
  .list-check, .list-check-box{
    margin: 0;
  }
  input[type=radio] {
    border: 0px;
    width: 24px;
    height: 2em;
  }
}
