<div class="cont-step animated fadeIn">

  <!-- <div class="background-head">

    <div class="col-md-2 mb-2 box-profile">
      <div class="card">
        <div class="card-body">
          <img src="https://kottke.org/plus/misc/images/ai-faces-01.jpg" class="mr-3 img-profile" alt="...">
          <h3 class="card-title">Leonardo Hernandez</h3>
          <a href="#" class="card-link">Perfil</a>
        </div>
      </div>
    </div>
    
  </div> -->

    <h1>Encuestas</h1>
    <div class="row">

      <div class="col-md-4 mb-4" *ngFor="let item of listQuiz">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ item.name }}</h3>
            <h5 class="card-subtitle mb-2 text-muted"><b>Creado: </b>{{ item.creation_date | date }}</h5>
            <p class="card-text" [innerHTML]="item.description "></p>
            <a class="card-link" [routerLink]="['/preview', item.idDocument ]" target="_blank" >Ver encuesta</a>
            <a class="card-link" [routerLink]="['/config-questions', item.idDocument ]" target="_blank" >Editar</a>
            <a href="#" class="card-link" [routerLink]="['/dashboard', item.idDocument ]" target="_blank" >Estadísticas</a>
          </div>
        </div>
      </div>

    </div>
</div>

