<div class="cont-step animated fadeIn">

  <div class="background-head">

    <div class="col-md-2 mb-2 box-profile">
      <div class="card">
        <div class="card-body">
          <img src="https://kottke.org/plus/misc/images/ai-faces-01.jpg" class="mr-3 img-profile" alt="...">
          <h3 class="card-title">Leonardo Hernandez</h3>
          <a href="#" class="card-link">Perfil</a>
        </div>
      </div>
    </div>
    
  </div>

    <h1>Encuestas</h1>
    <div class="row">

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Encuesta de satisfacción</h3>
            <h5 class="card-subtitle mb-2 text-muted"><b>Creado: </b>2020-06-02</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Ver encuesta</a>
            <a href="#" class="card-link">Estadísticas</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Encuesta de satisfacción</h3>
            <h5 class="card-subtitle mb-2 text-muted"><b>Creado: </b>2020-06-02</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Ver encuesta</a>
            <a href="#" class="card-link">Estadísticas</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Encuesta de satisfacción</h3>
            <h5 class="card-subtitle mb-2 text-muted"><b>Creado: </b>2020-06-02</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Ver encuesta</a>
            <a href="#" class="card-link">Estadísticas</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Encuesta de satisfacción</h3>
            <h5 class="card-subtitle mb-2 text-muted"><b>Creado: </b>2020-06-02</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Ver encuesta</a>
            <a href="#" class="card-link">Estadísticas</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Encuesta de satisfacción</h3>
            <h5 class="card-subtitle mb-2 text-muted"><b>Creado: </b>2020-06-02</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Ver encuesta</a>
            <a href="#" class="card-link">Estadísticas</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Encuesta de satisfacción</h3>
            <h5 class="card-subtitle mb-2 text-muted"><b>Creado: </b>2020-06-02</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Ver encuesta</a>
            <a href="#" class="card-link">Estadísticas</a>
          </div>
        </div>
      </div>


    </div>
</div>

